# Cassette environment template

LIBRARY_BASE=
STAGING_FOLDER=./staging
SLSKD_URL=http://localhost:5930
SLSKD_USER=slskd
SLSKD_PASSWORD=slskd
REAL_DEBRID_KEY=
QOBUZ_EMAIL=
QOBUZ_PASSWORD=
DEEZER_ARL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_ACCESS_TOKEN=
NZBGEEK_API_KEY=
USENET_HOST=
SABNZBD_URL=
SABNZBD_API_KEY=
GENIUS_TOKEN=
